
<h3>Welcome, please login</h3>

<form action='/api/sessions/login' method='POST'>

<div style='display: block;'></div>
    <label for='email'>Email</label>
    <input type='email' name='email' required>
  </div>

<div style='display: block;'></div>
    <label for='password'>Password</label>
    <input type='password' name='password' required>
  </div>

<div style='display: block;'></div>
    <button type='submit'>Login</button>
    <a href="/restore">Restore to password</a>
  </div>
</form>